
<h1>Have any suggestions or questions about our site?</h1>

<h3>Please feel free to email me any additional stats to follow, or competitions to add.<br>
Maybe there is a cool feature you'd like to see, or you just want to give some feedback.<br>
Whatever it is, please email me at <a href="http://www.fredonia.edu">rapp0384@fredonia.edu</a>.</h3>