<div id='about'>
	<h2>About "Challenge Me!"</h2>
	<p class="about"> This site was inspired by a pushup challenge, between me and some of my close friends.<br><br>
		During the challenge I painstakingly took down all of the data and put it into a table.  I<br><br>
		personally calculated totals each day, did averages and changed medal awards.  Then added<br><br>
		more catagories, that quickly became a pain to maintain.
	</p>
	<p class="about"> In the interest of not having to do that again in future competitions with my friends<br><br>
		around the world, we designed and created "Challenge Me!"  This site will automatically<br><br>
		calculate totals, averages, give out set awards, allow the competition creator to invite<br><br> 
		friends to join their challenge.  As you compete friends will log on and log their stats<br><br> 
		for the day and be able to smack talk on the challenge board.  The creator of the challenge<br><br> 
		with specified rules, goals and what will be considered medal worthy.  If these rules<br><br> 
		change, they will be able to go in and alter the rules as they see fit.
	</p>
</div>
<div id='logo'>
	<img src='/assets/challenge-me.png'>
</div>
<div id="group">
	<div id='creator'>
		<img src='/assets/creator.jpg'>
	</div>
	<div id='links'>
		<ul>
			<h2 id="charts">Preview Charts</h2><br>
			<li class="about">Push-ups</li><br>
			<li class="about">Run</li><br>
			<li class="about">Push-ups</li><br>
			<li class="about">Run</li><br>
			<li class="about">Push-ups</li><br>
			<li class="about">Run</li><br>
			<li class="about">Push-ups</li><br>
			<li class="about">Run</li><br>
			<li class="about">Push-ups</li><br>
			<li class="about">Run</li><br>
			<li class="about">Push-ups</li><br>
			<li class="about">Run</li><br>
			<li class="about">Run</li><br>
			<li class="about">Push-ups</li><br>
			<li class="about">Run</li><br>
		</ul>
	</div>
	<div id='lets_do_this'>
		<img id="image" src='/assets/lets_do_this.png'>
	</div>
</div>