html{
	background-color:lightgray;
}

//fonts and words
#about {
	margin:1%;
	float:left;
	text-indent:32px;
	font-family:'courier new';
	color:white;
	width:64%;
}
.about {
	font-size:22px;
	font-family:'courier new';
	color:white;
}

//first logo
#logo {
	border: 4px solid white;
	margin:1%;
	float:left;
}

//second row
#group {
	clear:left;
}

//first image
#creator {
	border: 4px solid gold;
	margin:1%;
	float:left;
	width:33%;
	border-radius: 50%;
}

//links section
#links {
	margin: 1%;
	float: left;
	border: 4px solid white;
	background-color: yellow;
	border-radius: 40%;
}
#charts {
	font-size:64px;
	font-family:'courier new';
}
.aboutB {
	font-size:37px;
	font-family:'courier new';
}

//second logo
#lets_do_this {
	border: 4px solid white;
	margin:1%;
	float:left;
	width:35%;
}
#image {
	height:100%;
	width:100%;
}