.pushTable {
	width:90%;
	border: 2px solid black;
	padding: 2%;
	text-align:center;
	font-family: 'Poppins', sans-serif;
	font-size: 19px;
}
.pushTh {
	width:4%;
	border: 2px solid black;
	padding: 2%;
	text-align:center;
	font-family: 'Poppins', sans-serif;
	font-size: 19px;
}
.pushTd {
	width:4%;
	border: 2px solid black;
	padding: 2%;
	text-align:center;
	font-family: 'Poppins', sans-serif;
	font-size: 19px;
}
#pushGoalcolor {
	background-color: lightblue;
}